---
import Layout from "@/components/layout/Layout.astro";
import { getLocaleFromUrl, getLocalizedMetadata } from "@/utils/i18n";

const locale = getLocaleFromUrl(Astro.url.pathname);
const localizedMetadata = await getLocalizedMetadata(locale);
---

<Layout {...localizedMetadata}>
  <h1>Hello World</h1>
</Layout>
