---
import { GET } from '@/pages/api/reports/[address]'
import Layout from "@/components/layout/Layout.astro";
import env from "@/config";
import { createTranslator, getLocaleFromUrl } from "@/utils/i18n";
import type { SEOProps } from "astro-seo";
import type { EthereumAddressData } from '@/interfaces/EthereumSecurity';

const response = await GET(Astro);
const data = await response.json<EthereumAddressData>();
console.log(data)

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = await createTranslator(locale);

const metadata: SEOProps = {
  canonical: `${env.SITE_BASE_URL}/quantum-security-checker`,
};
---

<Layout {...metadata}>
  <h1>Quantus Address Checker</h1>
</Layout>