---
import env from "@/config";
import SphereDecoration from "@/components/ui/SphereDecoration.astro";

const year = new Date().getFullYear();
---

<footer
  class="relative flex flex-col overflow-hidden px-4 pt-[67px] pb-6 backdrop-blur-lg"
>
  <SphereDecoration
    variant="4"
    size={124}
    class="absolute top-0 right-[3rem] -z-10"
  />

  <SphereDecoration
    variant="6"
    size={240}
    class="absolute -bottom-[8rem] left-[6rem] -z-10 hidden md:block"
  />

  <div
    class="mx-auto flex w-full max-w-[473px] flex-col items-center gap-8 text-center"
  >
    <p class="font-body text-text-content-secondary font-semibold">
      The Qday Risk Checker is built by <a
        class="underline"
        href={env.QUANTUS_SITE_URL}
        target="_blank">Quantus Network</a
      >, the Quantum Secure L1 blockchain.
    </p>

    <p id="footer-copyright" class="font-small text-text-content-secondary">
      Copyright © {year} Quantus Network
    </p>
  </div>
</footer>
